* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/assets/images/cidade1.png);
    background-position: 10% -475px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#canva_jogo{
    top: 0;
    left: 0;
}

#imagem_gato{
    display: none;
}