* {
    padding: 0;
    margin: 0;
}

body {
    background-color: blue;
    overflow: hidden;
}

#imagem_gato{
    display: none;
}

#canva_jogo {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 200px;
}

#canva_jogo * {
    position: absolute;
}

#canva_gato{
    position: absolute;
}

#gato-container {
    height: 120px;
    width: 160px;
}

#gato {
    height: 120px;
    width: 160px;
}

.ancestral, .tileset {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    height: 96px;
}

.ancestral {
    display: flex;
    flex-direction: column;
}

.imagem {
    background-image: url("../assets/images/tileset.png");
    background-repeat: repeat;
}

.antena {
    position: absolute;
    height: 60px;
    width: 60px;
    bottom: 96px;
}

.buraco {
    height: 96px;
    width: 40vw;
    transform: translateY(-1px);
}