<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/game.css">
    <title>Document</title>
</head>
<body>

    <div class="modal nes-container">
        <form action="/addPlayer" method="POST">
            <div class="nes-field">
                <label for="name_field">Insira seu nome</label>
                <input name="name" type="text" id="name_field" class="nes-input">
            </div>
            <input name="score" type="text" id="score_input">
            <div class="score_div">
                <h3>Pontuação:</h3>
                <div id="score"></div>
            </div>
            <div class="buttons_div">
                <input class="nes-btn is-success" type="submit" value="Ver Ranking">
                <a class="nes-btn is-success" href="/game">Jogar novamente</a>
            </div>
        </form>
    </div>

    <canvas id="canva_jogo"></canvas>
    <canvas id="canva_gato"></canvas>
    <img id="imagem_gato" src="assets/images/gatin_manchado_all_sprites.png"/>
    
    <script type="module" src="js/script.js"></script>
    <script type="module" src="js/modal.js"></script>
</body>
</html>