<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/index.css">
    <title>Meow Meow Jumping Adventures</title>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
</style>

<body>
<section>
    <h1>Meow Meow Jumping Adventures</h1>
    <a href="/game" class="nes-btn">Play</a>
    <a href="/ranking" class="nes-btn">Ranking</a>
</section>
<script src="nes.css/css/nes.min.css";></script>
</body>
</html>